Package: com.samgisaninja.tweakcompatible-zebra
Name: tweakcompatible-zebra
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Adds TweakCompatible to Zebra!
Maintainer: Samg_is_a_Ninja
Author: Samg_is_a_Ninja
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 156
